body{
    margin: 0px;
    padding:0px;
    font-size:14px;
    color:#000;
    font-family: 'Verdana'
}

pre {
    font-family:"Courier New"
    Courier
    monospace;
}

code {
    overflow:auto;
    width: 300px;
    font-family: monospace;
    background:#000;

}