.share-sx {
	margin:10px 0;
	padding:0px;
	list-style:none;
	width:100%;
	float:left;
}

.share-sx li {
	float:left;
	margin-left:5px;
	margin-bottom:5px;
}

.share-sx li a {
	display:block;
	font-size:10px;
	text-transform:uppercase;
	color:#333;
	padding:6px;
	border:1px solid #eee;
	text-decoration:none;
	font-family:inherit;
	transition:all .2s ease-in-out;
}

.share-sx li a:before {
	display:block;
	float:left;
	color:#ccc;
	margin-right:5px;
	font-family:'FontAwesome';	
	font-size:14px;
	margin-top:-1px;
}

/*	Cores Icones padrões	*/
.share-sx li a[class*="facebook"]:before{color:#3b5998;}
.share-sx li a[class*="twitter"]:before{color:#20b8ff;}
.share-sx li a[class*="linkedin"]:before{color:#20b8ff;}
.share-sx li a[class*="google-plus"]:before{color:#d44132;}
.share-sx li a[class*="whatsapp"]:before{color:#0c6257;}

.share-sx li a:hover{
	background-color:#eee;
}
